* {
    padding: 0;
    margin: 0;
}

html,
body {
    font-family: 'LoveFont', 'Microsoft YaHei', 'PingFang SC', 'Lantinghei SC', 'HanHei SC', 'Helvetica Neue', 'Open Sans', Arial, 'Hiragino Sans GB', STHeiti, 'WenQuanYi Micro Hei', SimSun, sans-serif;
    background-color: #f5f5f5;
    font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    transform: translate(0, 0);
    color: #fff;
    height: 100%;
    overflow: hidden;
    font-size: 26px;
}

.pink {
    background-color: #ef6a8a
}

a {
    cursor: pointer
}

video {
    cursor: pointer;
    margin: 0;
    padding: 0;
    object-fit: fill;
}

::-webkit-scrollbar-track-piece {
    width: 8px;
    background-color: #f0f0f0
}

::-webkit-scrollbar {
    width: 8px;
    background-color: #696969
}

::-webkit-scrollbar-thumb {
    width: 8px;
    background-color: #333
}

::-webkit-scrollbar-thumb:hover {
    width: 8px;
    background-color: #696969
}

/* @font-face {
    font-family: 'Surprise';
    src: url('../font/font.ttf?v=4.3.0') format('truetype');
    font-weight: normal;
    font-style: normal;
} */

@font-face {
    font-family: 'LoveFont';
    src: url('../font/fontlove.ttf?v=4.3.0') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.content {
    font-size: 50px;
}

#main {
    width: 100%;
}

#wrap {
    position: relative;
    margin: 0 auto;
    width: 1100px;
    height: 680px;
    margin-top: 10px;
}

#text {
    width: 400px;
    height: 425px;
    left: 60px;
    top: 80px;
    position: absolute;
}

#code {
    display: none;
    font-size: 16px;
}

#clock-box {
    position: absolute;
    left: 60px;
    top: 550px;
    font-size: 28px;
    display: none;
}

#clock-box a {
    font-size: 28px;
    text-decoration: none;
}

#clock {
    margin-left: 48px;
}

#clock .digit {
    font-size: 64px;
}

#canvas {
    margin: 0 auto;
    width: 1100px;
    height: 680px;
}

#error {
    margin: 0 auto;
    text-align: center;
    margin-top: 60px;
    display: none;
}

.hand {
    cursor: pointer;
}

.say {
    padding: 8px 0;
    margin-left: 5px;
    font-size: 26px;
    line-height: 36px;
}
.textindet{ text-indent: 2em;}

.textindet2 {
    text-indent: 288px;
}